* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.5);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: grey;
}

.light-gray {
  background-color: grey;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 30px;
  place-content: unset;
  align-items: center;
  padding-left: 1.8rem;
}
