* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  background-color: rgb(206, 229, 208);
}

.container {
  height: 80vh;
  width: 60vh;
  background-color: rgb(210, 204, 212);
  padding: 0.3rem;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.5);
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 3px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: grey;
}

.light-gray {
  background-color: grey;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  place-content: unset;
  align-items: center;
  padding-left: 1.8rem;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  background-color: rgb(197, 197, 175);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);;
}

.navbar h1 {
  color: #f1356d;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  border-left: 2px solid grey;
}

.navbar a:hover {
  color: #f1356d;
  border-left: 2px solid #f1356d;
}

.home {
  margin: 2rem;
}

.home h2 {
  margin-bottom: 10px;
}

.home p {
  margin: 2rem;
}

.quote {
  text-align: center;
  width: 50%;
  margin: 10rem;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.5);
  background-color: rgb(230, 221, 196);
  padding: 30px;
  border-radius: 2%
}

.paragraph {
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.5);
  background-color: rgb(230, 221, 196);
  padding: 15px;
  border-radius: 2%
}
